.about__wrapper {
	max-width: 1679px;
	background: rgba($color: $color-primary-light, $alpha: 0.05);
	padding: 116px 189px 93px 189px;
	margin: 82px auto 134px auto;
	position: relative;
	border-radius: 20px;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba($color: $color-primary-light, $alpha: 0.25) 0, rgba($color: $color-primary-light, $alpha: 0) 100%);
		mask:
			linear-gradient($color-primary-light 0 0) content-box,
			linear-gradient($color-primary-light 0 0);
		mask-composite: exclude;
		z-index: -1;
		border-radius: 20px;
		padding: 2px;
	}
}

.about__toggle {
	position: absolute;
	top: 60px;
	right: 67.86px;
}

.about__toggle-btn {
	border: none;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
}

.about__decor-circle {
	&--1 {
		top: 33px;
		left: 543px;
		width: 272.98px;
		height: 118.21px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
		transform: rotate(17.93deg);
	}

	&--2 {
		top: 40px;
		right: 631.66px;
		width: 272.98px;
		height: 118.21px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
		transform: rotate(17.93deg);
	}

	&--3 {
		top: 557px;
		left: -348px;
		width: 229px;
		height: 380px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
		transform: rotate(34.12deg);
	}

	&--4 {
		top: 236px;
		right: -161px;
		width: 229px;
		height: 229px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}
}

.about__directions {
	margin: 136px 0 0 0;
	position: relative;
}

.about__directions-container {
	position: absolute;
	bottom: -32px;
	left: 50%;
	transform: translateX(-50%);
}

.about__title {
	text-align: center;
}

.about__intro {
	display: flex;
	justify-content: flex-end;
	gap: 63px;
	margin: 129px 0 0 0;
}

.about__subtitle {
	@include about-subtitle;
}

.about__description {
	font-weight: 300;
	margin: 0;
	color: rgba($color: $color-primary-light, $alpha: 0.56);
	max-width: 781px;
}

.about__directions-title {
	@include about-subtitle;
	text-align: center;
}

.about__list {
	@include reset-list;
	display: grid;
	grid-template-columns: repeat(2, auto);
	max-width: max-content;
	gap: 108px 398px;
	margin: 184px auto 0 auto;
}

.about__item {
	text-align: start;
	font-weight: 300;
	line-height: 132%;
	color: rgba($color: $color-primary-light, $alpha: 0.72);

	&:nth-child(odd) {
		text-align: end;
	}
}

.about__item b {
	font-weight: 700;
	color: $color-primary-light;
}

.about__slogan {
	display: block;
	margin: 281px 0 0 0;
	font-size: 24px;
	line-height: 112%;
	font-weight: 700;
	text-align: center;
}