.address {
	display: flex;
	gap: 140px;
}

.address__title {
	font-weight: 700;
	color: #141414;
	margin: 0;
}

.address__list {
	@include reset-list;
	display: flex;
	gap: 140px;
}

.address__text {
	line-height: 21px;
	color: rgba($color: $color-primary-dark, $alpha: 0.56);
	letter-spacing: -0.36px;
	font-style: normal;
	max-width: 252px;
}