.directions-decor {
	width: 246px;
	height: 246px;
	position: relative;
}

.directions-decor__line {
	position: absolute;
	z-index: 0;

	&--bottom-left {
		top: 112px;
		right: 174px;
	}

	&--bottom-right {
		top: 112px;
		left: 172px;
	}

	&--top-left {
		bottom: 120px;
		right: 174px;
	}

	&--top-right {
		bottom: 119px;
		left: 173px;
	}
}

.directions-decor__line--bottom-right img {
	transform: scaleX(-1);
}

.directions-decor__line--top-left img {
	transform: scaleX(-1);
}

.directions-decor__circle {
	position: absolute;
	border-radius: 50%;

	&--1 {
		inset: 0;
		width: 246px;
		height: 246px;
		border: 4px solid rgba(#4747D7, 0.16);
		background-color: #1A2334;
		z-index: 1;
	}

	&--2 {
		inset: 25px 29px 5px 0;
		width: 217px;
		height: 216px;
		background-color: #4545D1;
		filter: blur(248.95px);
		z-index: 3;
	}

	&--3 {
		inset: -17px -16px 24px 23px;
		width: 239px;
		height: 239px;
		background-color: rgba($color-link, 0.4);
		filter: blur(164px);
		z-index: 3;
	}
}

.directions-decor__img {
	position: absolute;
	inset: -4px -16px -3px 0;
	z-index: 2;

	&--reverse {
		inset: 0 -7px -7px -9px;
		transform: scale(-1, -1);
	}
}