.header__wrapper {
	max-width: 1680px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 46px 7px 34px;
	background-color: $color-primary-light;
	border-radius: 10px;
	margin: 33px auto 0 auto;
}

.logo__img {
	object-fit: cover;
}