.hero__wrapper {
	margin: 45px 0 0 0;
	padding: 190px 261px 248px 261px;
	position: relative;
}

.hero__decor-bg {
	position: absolute;
	top: 0;
	right: 80px;
}

.hero__decor-img {
	&--1 {
		top: 160px;
		left: -88px;
	}

	&--2 {
		top: 667px;
		right: -123px;
	}
}

.hero__decor-circle {
	&--1 {
		width: 236px;
		height: 236px;
		top: 526px;
		left: 333px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}

	&--2 {
		width: 185px;
		height: 185px;
		top: 310px;
		left: 542px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
	}
}

.hero__description {
	margin: 48px 0 0 0;
}

.hero__link {
	margin: 122px 0 0 0;
}