.link {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: rgba($color: $color-primary-light, $alpha: 0.08);
	width: 281px;
	height: 102px;
	border-radius: 50px;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba($color: $color-link, $alpha: 0), $color-link 47%, rgba($color: $color-link, $alpha: 0) 94%);
		mask:
			linear-gradient($color-primary-light 0 0) content-box,
			linear-gradient($color-primary-light 0 0);
		mask-composite: exclude;
		z-index: -1;
		border-radius: 50px;
		padding: 2px;
	}
}

.link__content {
	position: relative;
	background: linear-gradient($color-link 0%, $color-link-secondary 100%);
	border-radius: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 132%;
	font-weight: 700;
	font-family: $font-link;
	width: 253px;
	height: 74px;
	text-decoration: none;
	color: $color-primary-light;
	box-shadow:
		0 16px 64px 0 rgba($color: $color-link, $alpha: 0.16),
		0 4px 40px 0 rgba($color: $color-primary-dark, $alpha: 0.25),
		0 16px 40px 0 rgba($color: #212121, $alpha: 0.16);
	cursor: pointer;
	z-index: 99;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba($color: $color-primary-light, $alpha: 0) 0, $color-primary-light 100%);
		mask:
			linear-gradient($color-primary-light 0 0) content-box,
			linear-gradient($color-primary-light 0 0);
		mask-composite: exclude;
		z-index: -1;
		border-radius: 36px;
		padding: 2px;
	}
}