.partners__wrapper {
	padding: 344px 120px 0 127px;
	position: relative;
}

.partners__decor-circle {
	&--1 {
		width: 272.98px;
		height: 118.21px;
		top: 256px;
		left: 656px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
	}

	&--2 {
		width: 272.98px;
		height: 118.21px;
		top: 267px;
		right: 799.66px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
	}

	&--3 {
		width: 271px;
		height: 271px;
		bottom: 136px;
		left: 87px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}

	&--4 {
		width: 709px;
		height: 483px;
		bottom: 316px;
		left: 554px;
		background-color: rgba($color: $color-link, $alpha: 0.20);
		z-index: 10;
	}

	&--5 {
		width: 709px;
		height: 483px;
		bottom: 131px;
		right: 85px;
		background-color: rgba($color: $color-link, $alpha: 0.20);
		z-index: 10;
	}
}

.partners__decor-img {
	&--1 {
		bottom: 136px;
		left: -256px;
	}
}

.partners__title {
	text-align: center;
}

.partners__container {
	display: flex;
	gap: 60px;
	margin: 148px 0 0 0;
}

.partners__content {
	align-self: center;
	max-width: 498px;
}

.partners__subtitle {
	margin: 0;
	font-size: 24px;
	line-height: 112%;
	font-weight: 700;
}

.partners__description {
	margin: 35px 0 0 0;
	font-weight: 300;
	color: rgba($color: $color-primary-light, $alpha: 0.56);
}

.partners__list-container {
	display: flex;
	gap: 10px;
	height: 1082px;
	overflow: hidden;
	position: relative;
}

.partners__list {
	@include reset-list;

	&--1 {
		transform: translateY(-108px);
	}
}

.partners__card {
	position: relative;
	width: 550px;
	height: 197px;
	border-radius: 20px;
	padding: 1px;
	z-index: 1;

	&:not(:last-child) {
		margin-bottom: 23px;
	}

	&--mask {
		box-shadow: 0 4px 4px 0 rgba($color: $color-primary-dark, $alpha: 0.25);
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 20px;
		padding: 1px;
		z-index: 1;

		background: linear-gradient(to bottom,
				$color-primary-light 0%,
				rgba($color-primary-light, 0.25) 100%);
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
	}
}

.partners__card--mgtu span {
	position: absolute;
	bottom: 22px;
	left: 50%;
	transform: translateX(-50%);
}

.partners__card--mgtu img {
	position: absolute;
	top: 4px;
	left: 50%;
	transform: translateX(-50%);
}

.partners__card--gazprom-1 img {
	position: absolute;
	right: 17px;
	top: 50%;
	transform: translateY(-50%);
}

.partners__inner {
	position: relative;
	border-radius: 20px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.partners__inner img {
	object-fit: cover;
}