.solutions__wrapper {
	padding: 236px 120px 44px 120px;
	position: relative;
}

.solutions__decor-circle {
	&--1 {
		width: 272.98px;
		height: 118.21px;
		top: 156px;
		left: 638px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
	}

	&--2 {
		width: 272.98px;
		height: 118.21px;
		top: 167px;
		left: 816.23px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
	}

	&--3 {
		width: 271px;
		height: 271px;
		top: 621px;
		left: 12px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}

	&--4 {
		width: 80px;
		height: 80px;
		top: 737px;
		left: 453px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}

	&--5 {
		width: 185px;
		height: 185px;
		top: 748px;
		left: 594px;
		background-color: rgba($color: $color-link, $alpha: 0.24);
	}

	&--6 {
		width: 236px;
		height: 236px;
		top: 613px;
		left: 753px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}

	&--7 {
		width: 185px;
		height: 185px;
		top: 664px;
		left: 1006px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}

	&--8 {
		width: 151px;
		height: 151px;
		top: 770px;
		right: 505px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}

	&--9 {
		width: 236px;
		height: 236px;
		top: 552px;
		right: 208px;
		background-color: rgba($color: $color-link, $alpha: 0.4);
	}
}

.solutions__decor-img {
	&--1 {
		top: 301px;
		left: -123px;
	}

	&--2 {
		top: 691px;
		right: 56px;
	}
}

.solutions__title {
	text-align: center;
}

.solutions__cards {
	@include reset-list;
	display: flex;
	gap: 16px;
	margin: 118px 0 0 0;
}

.solutions__card-wrapper {
	padding: 95px 61px 25px 141px;
	background-color: rgba($color: $color-primary-light, $alpha: 0.05);
	border-radius: 20px;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&--sim {
		padding: 95px 0 25px 141px;
	}

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba($color: $color-primary-light, $alpha: 0.25) 0%, rgba($color: $color-primary-light, $alpha: 0) 100%);
		mask:
			linear-gradient($color-primary-light 0 0) content-box,
			linear-gradient($color-primary-light 0 0);
		mask-composite: exclude;
		z-index: -1;
		border-radius: 20px;
		padding: 2px;
	}
}

.solutions__card {
	position: relative;
}

.solutions__link {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 105px;
	height: 105px;
	background-color: $color-link;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 10;

	&::after {
		content: "";
		width: 24px;
		height: 29.33px;
		background-image: url("../../image/sprite/arrow.svg");
		background-size: cover;
		background-position: center;
	}
}