.solutions-card {
	z-index: 200;
}

.solutions-card__decor span {
	border-radius: 50%;
	position: absolute;
	opacity: 0.1;
}

.solutions-card__decor span:nth-child(1) {
	width: 70.98px;
	height: 70.98px;
	background-color: #5050F0;
	top: 53.51px;
	left: 20.51px;
	opacity: 1;
}

.solutions-card__decor span:nth-child(2) {
	width: 138.89px;
	height: 138.89px;
	background: linear-gradient(to bottom, $color-primary-light 0%, rgba($color-primary-light, 0) 100%);
	top: 19.56px;
	left: -13.44px;
}

.solutions-card__decor span:nth-child(3) {
	width: 214.65px;
	height: 214.65px;
	background: linear-gradient(to bottom, $color-primary-light 0%, rgba($color-primary-light, 0) 100%);
	top: -18.32px;
	left: -51.32px;
}

.solutions-card__decor span:nth-child(4) {
	width: 304px;
	height: 304px;
	background: linear-gradient(to bottom, $color-primary-light 0%, rgba($color-primary-light, 0) 100%);
	top: -63px;
	left: -96px;
}


.solutions-card__title {
	font-weight: 600;
	font-family: $font-secondary;
	font-size: 32px;
	color: #3B3BAE;
	margin: 0;
}

.solutions-card__description {
	margin: 40px 0 0 0;
	color: $color-secondary-light;
}

.solutions-card__list {
	@include reset-list;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 15px 0 0 0;
}

.solutions-card__item {
	color: $color-secondary-light;
	font-weight: 300;
	display: flex;
	gap: 12px;
	padding: 0 0 0 10px;

	&::before {
		content: "";
		width: 2px;
		height: 2px;
		background-color: $color-secondary-light;
		border-radius: 50%;
		align-self: center;
	}
}

.solutions-card__text {
	font-size: 24px;
	line-height: 112%;
	color: rgba($color: $color-primary-light, $alpha: 0.56);
	margin: 53px 0 0 3px;
	font-weight: 600;
	display: inline-block;
}