.text-user {
	grid-column: 2/3;
}

.text-user__textarea {
	min-width: 100%;
	min-height: 289.71px;
	background-color: transparent;
	border: 2px solid rgba($color: $color-primary-light, $alpha: 0.16);
	border-radius: 16px;
	padding: 26.34px 41px 26.34px 68px;
	color: $color-primary-light;
	resize: none;

	&::placeholder {
		color: $color-primary-light;
	}
}