@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../font/circe-light.woff2") format("woff2"), url("../font/circe-light.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../font/circe-regular.woff2") format("woff2"), url("../font/circe-regular.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../font/circe-bold.woff2") format("woff2"), url("../font/circe-bold.woff") format("woff");
}
@font-face {
  font-family: "Conthrax";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../font/conthrax-semibold.woff2") format("woff2"), url("../font/conthrax-semibold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../font/montserrat-medium.woff2") format("woff2"), url("../font/montserrat-medium.woff") format("woff");
}
@font-face {
  font-family: "Glory";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../font/glory-bold.woff2") format("woff2"), url("../font/glory-bold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-width: 1920px;
  font-family: "Circe", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  background-color: #0E1729;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title {
  font-size: 32px;
  line-height: 46px;
  color: #FFFBFB;
  font-family: "Conthrax", sans-serif;
  font-weight: 600;
  margin: 0;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: rgba(255, 255, 255, 0.08);
  width: 281px;
  height: 102px;
  border-radius: 50px;
}
.link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(85, 85, 252, 0)), color-stop(47%, #5555FC), color-stop(94%, rgba(85, 85, 252, 0)));
  background: linear-gradient(to bottom, rgba(85, 85, 252, 0), #5555FC 47%, rgba(85, 85, 252, 0) 94%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
  -webkit-mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
          mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
  border-radius: 50px;
  padding: 2px;
}

.link__content {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#5555FC), to(#4747D7));
  background: linear-gradient(#5555FC 0%, #4747D7 100%);
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 132%;
  font-weight: 700;
  font-family: "Glory", sans-serif;
  width: 253px;
  height: 74px;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-box-shadow: 0 16px 64px 0 rgba(85, 85, 252, 0.16), 0 4px 40px 0 rgba(0, 0, 0, 0.25), 0 16px 40px 0 rgba(33, 33, 33, 0.16);
          box-shadow: 0 16px 64px 0 rgba(85, 85, 252, 0.16), 0 4px 40px 0 rgba(0, 0, 0, 0.25), 0 16px 40px 0 rgba(33, 33, 33, 0.16);
  cursor: pointer;
  z-index: 99;
}
.link__content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #FFFFFF 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
  -webkit-mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
          mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
  border-radius: 36px;
  padding: 2px;
}

.decor-img {
  position: absolute;
  -webkit-box-shadow: 0 4px 8px 0 #000000;
          box-shadow: 0 4px 8px 0 #000000;
  mix-blend-mode: color-dodge;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  z-index: -1;
}

.decor-circle {
  position: absolute;
  -webkit-filter: blur(164px);
          filter: blur(164px);
  border-radius: 50%;
  z-index: -1;
}

.header__wrapper {
  max-width: 1680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 46px 7px 34px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 33px auto 0 auto;
}

.logo__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
}

.site-list__link {
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  letter-spacing: -2%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.hero__wrapper {
  margin: 45px 0 0 0;
  padding: 190px 261px 248px 261px;
  position: relative;
}

.hero__decor-bg {
  position: absolute;
  top: 0;
  right: 80px;
}

.hero__decor-img--1 {
  top: 160px;
  left: -88px;
}
.hero__decor-img--2 {
  top: 667px;
  right: -123px;
}

.hero__decor-circle--1 {
  width: 236px;
  height: 236px;
  top: 526px;
  left: 333px;
  background-color: rgba(85, 85, 252, 0.4);
}
.hero__decor-circle--2 {
  width: 185px;
  height: 185px;
  top: 310px;
  left: 542px;
  background-color: rgba(85, 85, 252, 0.24);
}

.hero__description {
  margin: 48px 0 0 0;
}

.hero__link {
  margin: 122px 0 0 0;
}

.industries__wrapper {
  position: relative;
  padding: 79px 287px 69px 360px;
}

.industries__decor-wrapper {
  position: absolute;
  bottom: 142px;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 263px 0;
  z-index: -1;
}

.industries__decor-line {
  width: 181px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #5555FC), color-stop(73%, rgba(85, 85, 252, 0)));
  background: linear-gradient(to right, #5555FC 0, rgba(85, 85, 252, 0) 73%);
}
.industries__decor-line:nth-child(even) {
  justify-self: end;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.industries__decor-circle--1 {
  top: 0;
  left: 535.77px;
  width: 272.98px;
  height: 118.21px;
  -webkit-transform: rotate(-17.93deg);
      -ms-transform: rotate(-17.93deg);
          transform: rotate(-17.93deg);
  background-color: rgba(85, 85, 252, 0.24);
}
.industries__decor-circle--2 {
  top: 0;
  left: 744px;
  width: 272.98px;
  height: 118.21px;
  -webkit-transform: rotate(-17.93deg);
      -ms-transform: rotate(-17.93deg);
          transform: rotate(-17.93deg);
  background-color: rgba(85, 85, 252, 0.24);
}
.industries__decor-circle--3 {
  top: 173px;
  left: -138px;
  width: 274px;
  height: 272px;
  background-color: rgba(85, 85, 252, 0.4);
}
.industries__decor-circle--4 {
  top: 690px;
  left: -63px;
  width: 274px;
  height: 272px;
  background-color: rgba(85, 85, 252, 0.4);
}
.industries__decor-circle--5 {
  top: 170px;
  right: -100px;
  width: 273px;
  height: 273px;
  background-color: rgba(85, 85, 252, 0.4);
}
.industries__decor-circle--6 {
  top: 690px;
  right: -112px;
  width: 273px;
  height: 273px;
  background-color: rgba(85, 85, 252, 0.4);
}

.industries__title {
  text-align: center;
}

.industries__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  counter-reset: list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 133px 129px;
  margin: 121px 0 0 0;
}

.industries__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 71px;
}
.industries__item::before {
  counter-increment: list;
  content: "0" counter(list);
  display: block;
  font-size: 24px;
  line-height: 112px;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#5555FC), to(#4747D7));
  background: linear-gradient(to right, #5555FC 0%, #4747D7 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #5555FC;
  -ms-flex-item-align: center;
      align-self: center;
}

.industries__subtitle {
  font-size: 24px;
  line-height: 112%;
  margin: 0;
  font-weight: 700;
}

.industries__sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin: 28px 0 0 0;
}

.industries__subitem {
  color: rgba(255, 255, 255, 0.56);
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding: 0 0 0 10px;
}
.industries__subitem::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.solutions__wrapper {
  padding: 236px 120px 44px 120px;
  position: relative;
}

.solutions__decor-circle--1 {
  width: 272.98px;
  height: 118.21px;
  top: 156px;
  left: 638px;
  background-color: rgba(85, 85, 252, 0.24);
}
.solutions__decor-circle--2 {
  width: 272.98px;
  height: 118.21px;
  top: 167px;
  left: 816.23px;
  background-color: rgba(85, 85, 252, 0.24);
}
.solutions__decor-circle--3 {
  width: 271px;
  height: 271px;
  top: 621px;
  left: 12px;
  background-color: rgba(85, 85, 252, 0.4);
}
.solutions__decor-circle--4 {
  width: 80px;
  height: 80px;
  top: 737px;
  left: 453px;
  background-color: rgba(85, 85, 252, 0.4);
}
.solutions__decor-circle--5 {
  width: 185px;
  height: 185px;
  top: 748px;
  left: 594px;
  background-color: rgba(85, 85, 252, 0.24);
}
.solutions__decor-circle--6 {
  width: 236px;
  height: 236px;
  top: 613px;
  left: 753px;
  background-color: rgba(85, 85, 252, 0.4);
}
.solutions__decor-circle--7 {
  width: 185px;
  height: 185px;
  top: 664px;
  left: 1006px;
  background-color: rgba(85, 85, 252, 0.4);
}
.solutions__decor-circle--8 {
  width: 151px;
  height: 151px;
  top: 770px;
  right: 505px;
  background-color: rgba(85, 85, 252, 0.4);
}
.solutions__decor-circle--9 {
  width: 236px;
  height: 236px;
  top: 552px;
  right: 208px;
  background-color: rgba(85, 85, 252, 0.4);
}

.solutions__decor-img--1 {
  top: 301px;
  left: -123px;
}
.solutions__decor-img--2 {
  top: 691px;
  right: 56px;
}

.solutions__title {
  text-align: center;
}

.solutions__cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin: 118px 0 0 0;
}

.solutions__card-wrapper {
  padding: 95px 61px 25px 141px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.solutions__card-wrapper--sim {
  padding: 95px 0 25px 141px;
}
.solutions__card-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
  -webkit-mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
          mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
  border-radius: 20px;
  padding: 2px;
}

.solutions__card {
  position: relative;
}

.solutions__link {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 105px;
  height: 105px;
  background-color: #5555FC;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 10;
}
.solutions__link::after {
  content: "";
  width: 24px;
  height: 29.33px;
  background-image: url("../image/sprite/arrow.svg");
  background-size: cover;
  background-position: center;
}

.solutions-card {
  z-index: 200;
}

.solutions-card__decor span {
  border-radius: 50%;
  position: absolute;
  opacity: 0.1;
}

.solutions-card__decor span:nth-child(1) {
  width: 70.98px;
  height: 70.98px;
  background-color: #5050F0;
  top: 53.51px;
  left: 20.51px;
  opacity: 1;
}

.solutions-card__decor span:nth-child(2) {
  width: 138.89px;
  height: 138.89px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: 19.56px;
  left: -13.44px;
}

.solutions-card__decor span:nth-child(3) {
  width: 214.65px;
  height: 214.65px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: -18.32px;
  left: -51.32px;
}

.solutions-card__decor span:nth-child(4) {
  width: 304px;
  height: 304px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: -63px;
  left: -96px;
}

.solutions-card__title {
  font-weight: 600;
  font-family: "Conthrax", sans-serif;
  font-size: 32px;
  color: #3B3BAE;
  margin: 0;
}

.solutions-card__description {
  margin: 40px 0 0 0;
  color: #FFFBFB;
}

.solutions-card__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin: 15px 0 0 0;
}

.solutions-card__item {
  color: #FFFBFB;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding: 0 0 0 10px;
}
.solutions-card__item::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #FFFBFB;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.solutions-card__text {
  font-size: 24px;
  line-height: 112%;
  color: rgba(255, 255, 255, 0.56);
  margin: 53px 0 0 3px;
  font-weight: 600;
  display: inline-block;
}

.project-discuss__wrapper {
  margin: 300px auto 0 auto;
  text-align: center;
  padding: 79px 242px 51px 242px;
  position: relative;
  max-width: 1680px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}
.project-discuss__wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
  -webkit-mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
          mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
  border-radius: 20px;
  padding: 2px;
}

.project-discuss__decor-circle--1 {
  width: 1311px;
  height: 246px;
  top: 378px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(85, 85, 252, 0.4);
}
.project-discuss__decor-circle--2 {
  width: 236px;
  height: 236px;
  top: 107px;
  right: 512px;
  background-color: rgba(85, 85, 252, 0.4);
}

.project-discuss__decor-img--1 {
  top: 425px;
  left: -237px;
}
.project-discuss__decor-img--2 {
  top: 347px;
  right: -161px;
}

.project-discuss__description {
  margin: 32px 0 0 0;
}

.project-discuss__link {
  margin: 77.3px auto 0 auto;
}

.feedback__wrapper {
  position: relative;
  padding: 323px 261px 0 403px;
}

.feedback__title {
  text-align: center;
}

.feedback__form {
  margin: 160px 0 0 0;
}

.feedback__decor-circle--1 {
  top: 246px;
  left: 593px;
  width: 272.98px;
  height: 118.21px;
  background-color: rgba(85, 85, 252, 0.24);
  -webkit-transform: rotate(-17.93deg);
      -ms-transform: rotate(-17.93deg);
          transform: rotate(-17.93deg);
}
.feedback__decor-circle--2 {
  top: 235px;
  left: 771.23px;
  width: 272.98px;
  height: 118.21px;
  background-color: rgba(85, 85, 252, 0.24);
  -webkit-transform: rotate(-17.93deg);
      -ms-transform: rotate(-17.93deg);
          transform: rotate(-17.93deg);
}
.feedback__decor-circle--3 {
  bottom: 103px;
  left: 148px;
  width: 198px;
  height: 198px;
  background-color: rgba(85, 85, 252, 0.4);
}
.feedback__decor-circle--4 {
  bottom: -3.45px;
  left: 498px;
  width: 80px;
  height: 80px;
  background-color: rgba(85, 85, 252, 0.4);
}
.feedback__decor-circle--5 {
  bottom: -119.45px;
  left: 640px;
  width: 185px;
  height: 185px;
  background-color: rgba(85, 85, 252, 0.24);
}
.feedback__decor-circle--6 {
  bottom: -35.45px;
  right: 683px;
  width: 185px;
  height: 185px;
  background-color: rgba(85, 85, 252, 0.24);
}
.feedback__decor-circle--7 {
  bottom: -107.45px;
  right: 459px;
  width: 151px;
  height: 151px;
  background-color: rgba(85, 85, 252, 0.4);
}
.feedback__decor-circle--8 {
  bottom: -32.45px;
  right: -12px;
  width: 236px;
  height: 236px;
  background-color: rgba(85, 85, 252, 0.4);
}
.feedback__decor-circle--9 {
  top: 535px;
  right: 4px;
  width: 229px;
  height: 230.36px;
  background-color: rgba(85, 85, 252, 0.4);
}

.feedback__decor-img--1 {
  left: -294px;
  bottom: -155.45px;
}
.feedback__decor-img--2 {
  right: 10px;
  bottom: -228.45px;
}

.form {
  display: grid;
  grid-template-columns: 349px 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__field {
  margin: 0;
  padding: 0;
  border: none;
}

.form__submit {
  border: none;
  padding: 0;
  grid-column: 1/-1;
  margin: 111.29px auto 0 auto;
}

.user-data__title {
  line-height: 112%;
  margin: 0;
}

.user-data__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 53.32px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40.24px;
}

.user-data__input {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0 0 32.19px 0;
  color: #FFFFFF;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0E1729), to(#0E1729)) padding-box, -webkit-gradient(linear, left top, right top, from(#4747D7), to(rgba(85, 85, 252, 0))) border-box;
  background: linear-gradient(#0E1729, #0E1729) padding-box, linear-gradient(to right, #4747D7 0%, rgba(85, 85, 252, 0) 100%) border-box;
  border-bottom: 2px solid transparent;
}
.user-data__input::-webkit-input-placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
}
.user-data__input::-moz-placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
}
.user-data__input:-ms-input-placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
}
.user-data__input::-ms-input-placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
}
.user-data__input::placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
}

.text-user {
  grid-column: 2/3;
}

.text-user__textarea {
  min-width: 100%;
  min-height: 289.71px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  padding: 26.34px 41px 26.34px 68px;
  color: #FFFFFF;
  resize: none;
}
.text-user__textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}
.text-user__textarea::-moz-placeholder {
  color: #FFFFFF;
}
.text-user__textarea:-ms-input-placeholder {
  color: #FFFFFF;
}
.text-user__textarea::-ms-input-placeholder {
  color: #FFFFFF;
}
.text-user__textarea::placeholder {
  color: #FFFFFF;
}

.footer__wrapper {
  position: relative;
  background-color: #FFFFFF;
  max-width: 1680px;
  padding: 36px 48px 14px 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 123px;
  margin: 228.45px auto 78px auto;
  border-radius: 10px;
}

.footer__logo {
  position: absolute;
  top: 50%;
  left: 62px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 179px;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__mail {
  display: block;
  line-height: 21px;
  letter-spacing: -2%;
  color: rgba(0, 0, 0, 0.56);
  text-decoration: none;
  margin: 0;
}

.contacts__phone {
  display: block;
  font-weight: 700;
  color: #141414;
  text-decoration: none;
  margin: 18px 0 0 0;
}

.contacts__user-agreement {
  display: block;
  position: relative;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.56);
  text-decoration-color: rgba(0, 0, 0, 0.56);
  min-width: 247px;
  margin: 24px 0 0 0;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 140px;
}

.address__title {
  font-weight: 700;
  color: #141414;
  margin: 0;
}

.address__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 140px;
}

.address__text {
  line-height: 21px;
  color: rgba(0, 0, 0, 0.56);
  letter-spacing: -0.36px;
  font-style: normal;
  max-width: 252px;
}

.partners__wrapper {
  padding: 344px 120px 0 127px;
  position: relative;
}

.partners__decor-circle--1 {
  width: 272.98px;
  height: 118.21px;
  top: 256px;
  left: 656px;
  background-color: rgba(85, 85, 252, 0.24);
}
.partners__decor-circle--2 {
  width: 272.98px;
  height: 118.21px;
  top: 267px;
  right: 799.66px;
  background-color: rgba(85, 85, 252, 0.24);
}
.partners__decor-circle--3 {
  width: 271px;
  height: 271px;
  bottom: 136px;
  left: 87px;
  background-color: rgba(85, 85, 252, 0.4);
}
.partners__decor-circle--4 {
  width: 709px;
  height: 483px;
  bottom: 316px;
  left: 554px;
  background-color: rgba(85, 85, 252, 0.2);
  z-index: 10;
}
.partners__decor-circle--5 {
  width: 709px;
  height: 483px;
  bottom: 131px;
  right: 85px;
  background-color: rgba(85, 85, 252, 0.2);
  z-index: 10;
}

.partners__decor-img--1 {
  bottom: 136px;
  left: -256px;
}

.partners__title {
  text-align: center;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin: 148px 0 0 0;
}

.partners__content {
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 498px;
}

.partners__subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 112%;
  font-weight: 700;
}

.partners__description {
  margin: 35px 0 0 0;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
}

.partners__list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: 1082px;
  overflow: hidden;
  position: relative;
}

.partners__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.partners__list--1 {
  -webkit-transform: translateY(-108px);
      -ms-transform: translateY(-108px);
          transform: translateY(-108px);
}

.partners__card {
  position: relative;
  width: 550px;
  height: 197px;
  border-radius: 20px;
  padding: 1px;
  z-index: 1;
}
.partners__card:not(:last-child) {
  margin-bottom: 23px;
}
.partners__card--mask {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.partners__card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.25)));
  background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.partners__card--mgtu span {
  position: absolute;
  bottom: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.partners__card--mgtu img {
  position: absolute;
  top: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.partners__card--gazprom-1 img {
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.partners__inner {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.partners__inner img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__wrapper {
  max-width: 1679px;
  background: rgba(255, 255, 255, 0.05);
  padding: 116px 189px 93px 189px;
  margin: 82px auto 134px auto;
  position: relative;
  border-radius: 20px;
}
.about__wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
  -webkit-mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
          mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
  border-radius: 20px;
  padding: 2px;
}

.about__toggle {
  position: absolute;
  top: 60px;
  right: 67.86px;
}

.about__toggle-btn {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.about__decor-circle--1 {
  top: 33px;
  left: 543px;
  width: 272.98px;
  height: 118.21px;
  background-color: rgba(85, 85, 252, 0.24);
  -webkit-transform: rotate(17.93deg);
      -ms-transform: rotate(17.93deg);
          transform: rotate(17.93deg);
}
.about__decor-circle--2 {
  top: 40px;
  right: 631.66px;
  width: 272.98px;
  height: 118.21px;
  background-color: rgba(85, 85, 252, 0.24);
  -webkit-transform: rotate(17.93deg);
      -ms-transform: rotate(17.93deg);
          transform: rotate(17.93deg);
}
.about__decor-circle--3 {
  top: 557px;
  left: -348px;
  width: 229px;
  height: 380px;
  background-color: rgba(85, 85, 252, 0.4);
  -webkit-transform: rotate(34.12deg);
      -ms-transform: rotate(34.12deg);
          transform: rotate(34.12deg);
}
.about__decor-circle--4 {
  top: 236px;
  right: -161px;
  width: 229px;
  height: 229px;
  background-color: rgba(85, 85, 252, 0.4);
}

.about__directions {
  margin: 136px 0 0 0;
  position: relative;
}

.about__directions-container {
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__title {
  text-align: center;
}

.about__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 63px;
  margin: 129px 0 0 0;
}

.about__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 112%;
  margin: 0;
}

.about__description {
  font-weight: 300;
  margin: 0;
  color: rgba(255, 255, 255, 0.56);
  max-width: 781px;
}

.about__directions-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 112%;
  margin: 0;
  text-align: center;
}

.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 108px 398px;
  margin: 184px auto 0 auto;
}

.about__item {
  text-align: start;
  font-weight: 300;
  line-height: 132%;
  color: rgba(255, 255, 255, 0.72);
}
.about__item:nth-child(odd) {
  text-align: end;
}

.about__item b {
  font-weight: 700;
  color: #FFFFFF;
}

.about__slogan {
  display: block;
  margin: 281px 0 0 0;
  font-size: 24px;
  line-height: 112%;
  font-weight: 700;
  text-align: center;
}

.directions-decor {
  width: 246px;
  height: 246px;
  position: relative;
}

.directions-decor__line {
  position: absolute;
  z-index: 0;
}
.directions-decor__line--bottom-left {
  top: 112px;
  right: 174px;
}
.directions-decor__line--bottom-right {
  top: 112px;
  left: 172px;
}
.directions-decor__line--top-left {
  bottom: 120px;
  right: 174px;
}
.directions-decor__line--top-right {
  bottom: 119px;
  left: 173px;
}

.directions-decor__line--bottom-right img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.directions-decor__line--top-left img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.directions-decor__circle {
  position: absolute;
  border-radius: 50%;
}
.directions-decor__circle--1 {
  inset: 0;
  width: 246px;
  height: 246px;
  border: 4px solid rgba(71, 71, 215, 0.16);
  background-color: #1A2334;
  z-index: 1;
}
.directions-decor__circle--2 {
  inset: 25px 29px 5px 0;
  width: 217px;
  height: 216px;
  background-color: #4545D1;
  -webkit-filter: blur(248.95px);
          filter: blur(248.95px);
  z-index: 3;
}
.directions-decor__circle--3 {
  inset: -17px -16px 24px 23px;
  width: 239px;
  height: 239px;
  background-color: rgba(85, 85, 252, 0.4);
  -webkit-filter: blur(164px);
          filter: blur(164px);
  z-index: 3;
}

.directions-decor__img {
  position: absolute;
  inset: -4px -16px -3px 0;
  z-index: 2;
}
.directions-decor__img--reverse {
  inset: 0 -7px -7px -9px;
  -webkit-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

.about-solution__wrapper {
  padding: 130px 151px 144px 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 68px auto 124px auto;
  max-width: 1679px;
  position: relative;
  border-radius: 20px;
}
.about-solution__wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
  -webkit-mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF));
          mask: linear-gradient(#FFFFFF 0 0) content-box, linear-gradient(#FFFFFF 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
  border-radius: 20px;
  padding: 2px;
}
.about-solution__wrapper--sim {
  padding: 131px 139px 385px 80px;
}

.about-solution__toggle {
  position: absolute;
  top: 60px;
  right: 67.86px;
}

.about-solution__toggle-btn {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.about-solution__decor-circle--1 {
  top: 37px;
  left: -12px;
  width: 272.98px;
  height: 118.21px;
  background-color: rgba(85, 85, 252, 0.24);
  -webkit-transform: rotate(17.93deg);
      -ms-transform: rotate(17.93deg);
          transform: rotate(17.93deg);
}
.about-solution__decor-circle--2 {
  top: 44px;
  left: 196.23px;
  width: 272.98px;
  height: 118.21px;
  background-color: rgba(85, 85, 252, 0.24);
  -webkit-transform: rotate(17.93deg);
      -ms-transform: rotate(17.93deg);
          transform: rotate(17.93deg);
}
.about-solution__decor-circle--3 {
  top: 561px;
  left: -348px;
  width: 229px;
  height: 380px;
  background-color: rgba(85, 85, 252, 0.4);
  -webkit-transform: rotate(-34.12deg);
      -ms-transform: rotate(-34.12deg);
          transform: rotate(-34.12deg);
}
.about-solution__decor-circle--4 {
  top: 240px;
  right: -161px;
  width: 229px;
  height: 229px;
  background-color: rgba(85, 85, 252, 0.4);
}
.about-solution__decor-circle--5 {
  bottom: -301px;
  right: 12px;
  width: 354px;
  height: 354px;
  background-color: rgba(85, 85, 252, 0.24);
}

.about-solution__title {
  color: #3B3BAE;
  font-weight: 600;
  font-family: "Conthrax", sans-serif;
  margin: 0;
  font-size: 32px;
  min-width: 241px;
}
.about-solution__title--sim {
  min-width: 315px;
}

.about-solution__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 26px;
}
.about-solution__grid--sim {
  gap: 27px 26px;
}

.about-solution__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.about-solution__content--sim-services {
  grid-column: 2/3;
}
.about-solution__content--sim-functions {
  grid-row: 2/4;
}

.about-solution__content--kip-services .about-solution__subtitle {
  padding: 0 29px 0 0;
}

.about-solution__content--sim-services .about-solution__subtitle {
  padding: 25px 29px 0 0;
}

.about-solution__content--sim-services .about-solution__item {
  padding: 0;
}
.about-solution__content--sim-services .about-solution__item::before {
  display: none;
}

.about-solution__content--business-functions {
  padding: 22px 0 0 4px;
}

.about-solution__subtitle {
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  font-size: 24px;
}

.about-solution__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.about-solution__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-solution__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding: 0 0 0 10px;
}
.about-solution__item::before {
  content: "";
  min-width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 50%;
  margin: 13px 0 0 0;
}

.about-solution__text {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
  margin: 0;
}/*# sourceMappingURL=style.css.map */
