// colors
$color-primary-light: #FFFFFF;
$color-secondary-light: #FFFBFB;
$color-primary-dark: #000000;
$bg-color: #0E1729;
$color-link: #5555FC;
$color-link-secondary: #4747D7;

// fonts
$font-primary: "Circe",
sans-serif;
$font-menu: "Montserrat",
sans-serif;
$font-secondary: "Conthrax",
sans-serif;
$font-link: "Glory",
sans-serif;